body {
  margin: 0;
  
  position: fixed;
  
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  
  font-family: "LeaugeSpartan";
  
  text-decoration: underline;
}

#content {
  position: fixed;
  
  width: 100%;
  height: 100%;
}

#ncontent {
  position: absolute;
  
  width: 15%;
  height: 100%;
  
  background-color: #DBB4CB;
}

#nav {
  position: absolute;
  
  left: 15px;
}

img#logo {
  position: absolute;
  
  left: 35%;
  Top: 30px;
    
  width: 30%;
  height: auto;
}

p#htext {}

p#stext {}
#atdiv {}
p#atext {}
p#1stext {}
p#2stext {}
p#3stext {}
p#ctext {}

p.ntext {
  font-size: 30px;
  
  font-weight: bold;
  
  text-decoration: none;
  
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    min-height: 1px;
    background-color: currentColor;
    transform-origin: right;
    transition: transform .25s ease;
  }
  
  &:hover{
    
    &:after{
      transform: scaleX(0);
    }
  }
}

#footer {}
#1fbar {}
#2fbar {}
.fbar {}
img#flogo {}
#divider {}
#pcontent {}
p#title {}
p#slogan {}
img#himage {}
