body {
  margin: 0;
  
  position: fixed;
  
  width: 100%;
  height: 100%;
}

p, a {
  margin: 0;
  
  font-family: "LeaugeSpartan";
  
  text-decoration: none;
}

#content {
  position: fixed;
  
  width: 100%;
  height: 100%;
}

#ncontent {
  position: absolute;
  
  width: 15%;
  height: 100%;
  
  background-color: #DBB4CB;
}

#nav {
  position: absolute;
  
  left: 15px;
}

img#logo {
  position: absolute;
  
  left: 35%;
  Top: 30px;
    
  width: 30%;
  height: auto;
}

a#htext {}
a#stext {}
#atdiv {}
a#atext {}
a#1stext {}
a#2stext {}
a#3stext {}
a#ctext {}

a.ntext {
  font-size: 30px;
  font-weight: bold;
  
  color: #242424;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #242424;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%; 
  left: 0;
}

#footer {}
#1fbar {}
#2fbar {}
.fbar {}
img#flogo {}
#divider {}
#pcontent {}
p#title {}
p#slogan {}
img#himage {}
