#underconstruction {
  width: 100%;
  height: 5%;
  padding: 36px;
  background-color: #9900FF;
  top: 0px;
  left: 0px;
  text-align: center;
  margin: -8px;
{
.TNR40{
  font-size: 100px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif; 
}
