p#title {
  position: absolute;
  
  left: 60px;
  top: 60px;
  
  line-height: 80px;
  
  font-size: 80px;
  font-weight: bold;
  
  color: #242424;
}

p#slogan {
  position: absolute;
  
  left: 60px;
    
  line-height: 40px;
  
  font-size: 40px;
  
  color: #242424;
}

img#himage {
  position: absolute;
  
  left: 60px;
  
  width: 76%;
  height: auto;
}

#text {
  position: absolute;
  
  left: 60px;
  
  width: 76%;
  height: auto;
}

p#header {
  line-height: 30px;
  
  font-size: 30px;
  font-weight: bold;
  
  color: #242424;
}

p#para { 
  position: absolute;
  
  font-size: 25px;
  
  color: #242424;
}
