p, a {
  margin: 0;
  
  font-family: "LeaugeSpartan";
  
  text-decoration: none;
}

p.header {
  position: absolute;
  
  left: 60px;
  
  line-height: 40px;
  
  font-size: 40px;
  font-weight: bold;
  
  color: #242424;
}

p#ehead {}
p#bhead {}
p#nhead {}
#erings {}

.shopcontainer {
  position: absolute;
  
  left: 60px;
  
  height: auto;
  
  text-align: center;
}

#egrid {
  display: grid;
  gap: 1px 1px;
  grid-template-areas: "e1 e2 e3" "e4 e5 e6" "e7 e8 e9";
}

#e1 {
  border: 1px black;
  border-style: solid;
}

#e2 {
  border: 1px black;
  border-style: solid;
}

#e3 {
  border: 1px black;
  border-style: solid;
}

#e4 {
  border: 1px black;
  border-style: solid;
}

#e5 {
  border: 1px black;
  border-style: solid;
}

#e6 {
  border: 1px black;
  border-style: solid;
}

#e7 {
  border: 1px black;
  border-style: solid;
}

#e8 {
  border: 1px black;
  border-style: solid;
}
#e9 {
  border: 1px black;
  border-style: solid;
}

#necklaces {}

#ngrid {
  display: grid;
  gap: 1px 1px;
  grid-template-areas: "e1 e2 e3" "e4 e5 e6" "e7 e8 e9";
}

#n1 {
  border: 1px black;
  border-style: solid;
}

#n2 {
  border: 1px black;
  border-style: solid;
}

#n3 {
  border: 1px black;
  border-style: solid;
}

#n4 {
  border: 1px black;
  border-style: solid;
}

#n5 {
  border: 1px black;
  border-style: solid;
}

#n6 {
  border: 1px black;
  border-style: solid;
}

#n7 {
  border: 1px black;
  border-style: solid;
}

#n8 {
  border: 1px black;
  border-style: solid;
}

#n9 {
  border: 1px black;
  border-style: solid;
}

#bracelets {}

#bgrid {
  display: grid;
  gap: 1px 1px;
  grid-template-areas: "e1 e2 e3" "e4 e5 e6" "e7 e8 e9";
}

#b1 {
  border: 1px black;
  border-style: solid;
}

#b2 {
  border: 1px black;
  border-style: solid;
}

#b3 {
  border: 1px black;
  border-style: solid;
}

#b4 {
  border: 1px black;
  border-style: solid;
}

#b5 {
  border: 1px black;
  border-style: solid;
}

#b6 {
  border: 1px black;
  border-style: solid;
}

#b7 {
  border: 1px black;
  border-style: solid;
}

#b8 {
  border: 1px black;
  border-style: solid;
}

#b9 {
  border: 1px black;
  border-style: solid;
}

p.shoptiletitle {
  position: relative;
  
  top: 10px;
  
  line-height: 30px;
  
  font-size: 30px;
  
  color: #242424;
}
