p, a {
  margin: 0;
  
  font-family: "LeaugeSpartan";
  
  text-decoration: none;
}

p.header {
  position: absolute;
  
  left: 60px;
  
  line-height: 40px;
  
  font-size: 40px;
  font-weight: bold;
  
  color: #242424;
}

p#ehead {}
p#bhead {}
p#nhead {}
#erings {}

.shopcontainer {
  position: absolute;
  
  left: 60px;
  
  height: auto;
  
  text-align: center;
}

#egrid {
  display: grid;
  gap: 1px 1px;
  grid-template-areas: "e1 e2 e3" "e4 e5 e6" "e7 e8 e9";
}

.enb {
  border: 1px black;
  border-style: solid;
}

#necklaces {}

#ngrid {
  display: grid;
  gap: 1px 1px;
  grid-template-areas: "e1 e2 e3" "e4 e5 e6" "e7 e8 e9";
}

#bracelets {}

#bgrid {
  display: grid;
  gap: 1px 1px;
  grid-template-areas: "e1 e2 e3" "e4 e5 e6" "e7 e8 e9";
}

p.shoptiletitle {
  position: relative;
  
  top: 10px;
  
  line-height: 30px;
  
  font-size: 30px;
  
  color: #242424;
}

p.shoptileprice {
  position: relative;
  
  bottom: -26px;
  
  line-height: 30px;
  
  font-size: 30px;
  
  color: #242424;
}

img.shoptileimg {
  position: relative;
  
  top: 20px;
}
