body {
 height: 100%;
 width: 100%;
 position: fixed; 
 margin: 0;
}
#container {
 background-color: #ff6666;
 position: fixed;
 margin-top: 5%;
 margin-left: 10%;
 margin-right: 10%;
 margin-bottom: 5%;
 width: 80%;
 height: 90%;
 top: 0%;
 left: 0%;
}
#title {
 background-color: #43b1e0;
 position: fixed;
 margin-top: 5%;
 margin-left: 10%;
 margin-right: 10%;
 margin-bottom: 5%;
 width: 80%;
 height: 10%;
 top: 0%;
 left: 0%;
}
